@import "reset.css";
@import "variables.css";


@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chat.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";


@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";


body {
    font-family: -apple-system;
    
    color: #2e363e;
}

.main-screen {
    padding:0px var(--horizontal-space);
}
