#friends-display-link {
    text-align: center;
    display: block;
    background-color: #ccc9c954;
    padding: 15px 0px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: -15px;
}

#friends-display-link i {
    color:var(--gray);
    padding: 0px 10px;
}

.friends-screen {
    padding: 0px 20px;
}

.friends-screen__channel {
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px;
}

.friends-screen__channel-header {
    padding-left: 15px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.4);
    
}